<!DOCTYPE html>
<html lang="en">

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="ajax.js"></script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>RHM Patient Driver</title>
</head>

<body class='bodyclassic'>

    <div id="demotext" class='demotext'>Caretaker Driver</div>
    
    <hr />

    <div class="horizontal_box" name="measurement_group">

        <div class="three_split">
            <div id="hrDisplay">Last measured HR: <strong> <%= hrreading %> </strong></div>
        </div>

        <div class="three_split">
            <div>Last measured BPH: <strong> <%= bphreading %> </strong></div>
        </div>

        <div class="three_split">
            <div>Last measured BPL: <strong> <%= bplreading %> </strong></div>
        </div>

    </div>

    <hr />

    <div class="horizontal_box" name="update">

        <div class="three_split"></div> <!-- padding -->

        <div class="three_split">
            <form action="./refresh" method="get"> <input class="button_red" type="submit" value="Refresh" /></form>
        </div>

        <div class="three_split"></div> <!-- padding -->

    </div>

    <hr />

    <div class="horizontal_box" name="othergroup">

        <div class="four_split"></div> <!-- padding -->

        <div class="four_split">
            <form action="./establish" method="get"> <input class="button_green" type="submit" value="Establish" /></form>
        </div>
        
        <div class="four_split">
            <form action="./settings" method="get"> <input class="button_blue" type="submit" value="Settings" /></form>
        </div>

        <div class="four_split"></div> <!-- padding -->

    </div>

    <hr />

</body>

</html>