.demotext {
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    font-size:48pt;
}
/***************************************/
.bodyclassic {
    color:whitesmoke;
    text-align:center;
    background-color: #242f3f;
}
/***************************************/
.button_blue{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
.button_blue:hover{
    background-color:#4095c6;
}
@media all and (max-width:30em){
    .button_blue{
        display:block;
        margin:0.2em auto;
    }
}
/***************************************/
.button_red{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#d36f2d;
    text-align:center;
    transition: all 0.2s;
}
.button_red:hover{
    background-color:#ca541d;
}
@media all and (max-width:30em){
    .button_red{
        display:block;
        margin:0.2em auto;
    }
}
/***************************************/
.button_green{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#0c9e0c;
    text-align:center;
    transition: all 0.2s;
}
.button_green:hover{
    background-color:#3e970a;
}
@media all and (max-width:30em){
    .button_green{
        display:block;
        margin:0.2em auto;
    }
}
/***************************************/
.button_red{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:orangered;
    text-align:center;
    transition: all 0.2s;
}
.button_red:hover{
    background-color:red;
}
@media all and (max-width:30em){
    .button_red{
        display:block;
        margin:0.2em auto;
    }
}
/***************************************/
.horizontal_box {
    height: 100%;
    width: 100%;
    display: flex;
}
.four_split {width: 25%;}
.three_split{width: 33%;}
.two_split{width: 50%;}

/***************************************/
/*       ICON BUTTONS
/***************************************/
.icon_button_blue {
    font-size: 32px;
    cursor: pointer;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
.icon_button_blue:hover {
    background-color: #4095c6;
}
@media all and (max-width:30em){
    .icon_button_blue{
        display:block;
        margin:0.2em auto;
    }
}
/***************************************/
.icon_button_green{
    font-size: 32px;
    cursor: pointer;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#0c9e0c;
    text-align:center;
    transition: all 0.2s;
}
.icon_button_green:hover{
    background-color:#3e970a;
}
@media all and (max-width:30em){
    .icon_button_green{
        display:block;
        margin:0.2em auto;
    }
}
/***************************************/
.icon_button_red{
    font-size: 32px;
    cursor: pointer;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:orangered;
    text-align:center;
    transition: all 0.2s;
}
.icon_button_red:hover{
    background-color:red;
}
@media all and (max-width:30em){
    .icon_button_red{
        display:block;
        margin:0.2em auto;
    }
}
/***************************************/
/*   MESSAGES WITH  NOTIFICATION - https://www.w3schools.com/howto/howto_css_notification_button.asp
/***************************************/
.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .notification:hover {
    background: red;
  }
  
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }
/***************************************/
/*   RADIO BUTTONS - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio
/***************************************/
  /* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/***************************************/
/*   POPUP FORM - https://www.w3docs.com/snippets/javascript/how-to-create-a-popup-form-with-css-and-javascript.html
/***************************************/
* {
    box-sizing: border-box;
    }
    /* body {
    font-family: Roboto, Helvetica, sans-serif;
    } */
    #loginPopup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Hide the Popup form */
    .form-popup {
    border: 2px solid #666;
    z-index: 9;
    max-width: 300px;
    margin: 0 auto;
    }
    /* Styles for the form container */
    .form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    color: black;
    }
    /* Full-width for input fields */
    .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #eee;
    }
    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    }
    /* Style submit/login button */
    .form-container .btn {
    background-color: #8ebf42;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    }
    /* Style cancel button */
    .form-container .cancel {
    background-color: #cc0000;
    }
    /* Hover effects for buttons */
    .form-container .btn:hover, .open-button:hover {
    opacity: 1;
    }
/***************************************/
/*   LOADING - https://redstapler.co/add-loading-animation-to-website/
/***************************************/
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
  }
  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader-wrapper-left {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: left;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }