<!DOCTYPE html>
<html lang="en">

<style>
    .demotext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-size: xx-large;
    }

    .bodyclassic {
        color:black;
        text-align:left;
        background-color: whitesmoke;
    }

    .button_blue{
        display:inline-block;
        padding:0.3em 1.2em;
        margin:0 0.3em 0.3em 0;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#FFFFFF;
        background-color:#4eb5f1;
        text-align:center;
        transition: all 0.2s;
    }
    .button_blue:hover{
        background-color:#4095c6;
    }
    @media all and (max-width:30em){
    .button_blue{
        display:block;
        margin:0.2em auto;
    }
    }

    .button_green{
        display:inline-block;
        padding:0.3em 1.2em;
        margin:0 0.3em 0.3em 0;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#FFFFFF;
        background-color:#0c9e0c;
        text-align:center;
        transition: all 0.2s;
    }
    .button_green:hover{
        background-color:#3e970a;
    }
    @media all and (max-width:30em){
    .button_green{
        display:block;
        margin:0.2em auto;
    }
    }

</style>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>

    //Update HR Reading
    $(document).ready(function(){
        $("form#hrform").on('submit', function(e){
            e.preventDefault();
            var data = $('input[id=hrreadingIn]').val();
            console.log("Got data:",data);
            $.ajax({
                type: 'post',
                url: './ui/ajax',
                data: data,
                dataType: 'text'
            })
            .done(function(data){
                $("#hrDisplay").html("Last measured HR: <strong>" + data + "</strong>");
            });
        });
    });


</script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- <link rel="stylesheet" type="text/css" href="/style.css"> -->

    <title>RHM Patient Driver</title>
</head>

<body class='bodyclassic'>

    <div id="demotext" class='demotext'>Patient Driver</div>
    
    <div><hr /></div>
    <div id="hrDisplay">Last measured HR: <strong> <%= hrreading %> </strong></div>
    <form id ="hrform" method="post">
        <input id="hrreadingIn" type="text"/>
        <input class="button_blue" type="submit" value="Update" />
    </form>

    <div><hr /></div>
    <div>Last measured BPH: <strong> <%= bphreading %> </strong></div>
    <form id="bphform" action="./ui/setBPH" method="post">
        <input name="bphreading" type="text" /> 
        <input class="button_blue" type="submit" value="Update" />
    </form>

    <div><hr /></div>
    <div>Last measured BPL: <strong> <%= bplreading %> </strong></div>
    <form id="bplform" action="./ui/setBPL" method="post">
        <input name="bplreading" type="text" /> 
        <input class="button_blue" type="submit" value="Update" />
    <hr /></form>

    <div>Connect to relay with TLS: <form action="./ui/tryTLS" method="get"> <input class="button_green" type="submit" value="Connect" /></form>
    <hr></hr></div>

    <div><form action="./ui/settings" method="get"><input class="button_blue" type="submit" value="Settings"/></form>
    <hr></hr></div>

</body>

</html>