<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Alex Test Driver</title>
</head>

<body>

    <h1><strong>Patient Driver</strong></h1>
    <div><hr /></div>

    <div>Last measured HR: <strong>&lt; <%= hrreading %> &gt;</strong></div>
    <form action="./ui/setHR" method="post" name="hrreading">
    <p><input name="hrreading" type="text" /> <input type="submit" value="update" /></p>
    </form>

    <div><hr /></div>
    <div>Last measured BP: <strong>&lt; <%= bpreading %> &gt;</strong></div>
    <form action="./ui/setBP" method="post" name="bpreading">
    <p><input name="bpreading" type="text" /> <input type="submit" value="update" /></p>
    <hr /></form>

</body>

</html>