<!DOCTYPE html>
<html lang="en">

<!-- <script type="text/javascript" src="ajax.js"></script> -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Alex Test Driver</title>
</head>

<body>

    <h1><strong>Patient Driver</strong></h1>
    
    <div><hr /></div>
    <div>Last measured HR: <strong>&lt; <%= hrreading %> &gt;</strong></div>
    <form id ="hrform" action="./ui/setHR" method="post" name="hrreadingForm">
    <p><input id="hrreadingIn" name="hrreading" type="text" /> <input type="submit" value="update" /></p>
    </form>

    <div><hr /></div>
    <div>Last measured BPH: <strong>&lt; <%= bphreading %> &gt;</strong></div>
    <form id="bphform" action="./ui/setBPH" method="post" name="bphreadingForm">
    <p><input name="bphreading" type="text" /> <input type="submit" value="update" /></p>
    </form>

    <div><hr /></div>
    <div>Last measured BPL: <strong>&lt; <%= bplreading %> &gt;</strong></div>
    <form id="bplform" action="./ui/setBPL" method="post" name="bplreadingForm">
    <p><input name="bplreading" type="text" /> <input type="submit" value="update" /></p>
    <hr /></form>

    <div></dive><p>Connect to relay with TLS:</p>
        <form action="./ui/tryTLS" method="get">
            <input type="submit" name="tryTLS" value="Test TLS connection to Relay" />
        </form>
    <hr></hr></div>

</body>

</html>