<!DOCTYPE html>
<html lang="en">

<!-- <script type="text/javascript" src="ajax.js"></script> -->

<!-- script type ="text/javascript">
    $(document).ready(() => {
        console.log("HEY you");
    });
</script -->

<style>
    .demotext {
        color: transparent;
        background: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-size: xx-large;
    }

    .bodyclassic {
        color:black;
        text-align:left;
        background-color: whitesmoke;
    }

    .button_blue{
        display:inline-block;
        padding:0.3em 1.2em;
        margin:0 0.3em 0.3em 0;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#FFFFFF;
        background-color:#4eb5f1;
        text-align:center;
        transition: all 0.2s;
    }
    .button_blue:hover{
        background-color:#4095c6;
    }
    @media all and (max-width:30em){
    .button_blue{
        display:block;
        margin:0.2em auto;
    }
    }

    .button_red{
        display:inline-block;
        padding:0.3em 1.2em;
        margin:0 0.3em 0.3em 0;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#FFFFFF;
        background-color:#d36f2d;
        text-align:center;
        transition: all 0.2s;
    }
    .button_red:hover{
        background-color:#ca541d;
    }
    @media all and (max-width:30em){
    .button_red{
        display:block;
        margin:0.2em auto;
    }
    }

</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Alex Test Driver</title>
</head>

<body class='bodyclassic'>

    <div id="demotext" class='demotext'>Settings</div>
    <div><hr /></div>
    <p><strong>Data Sharing &amp; Privacy</strong></p>

    <form>
     <p>Shared Records Time-to-Live:</p>
        <input id="ttl1" name="ttl" type="radio" value="indefinite" /> <label for="indefinite">Indefinite</label> 
        <br /> <input id="ttl2" name="ttl" type="radio" value="month" /> <label for="month">1 month</label> 
        <br /> <input id="ttl3" name="ttl" type="radio" value="week" /> <label for="week">1 week</label> <br />

     <p>Record Filtering:</p>
        <input id="fil1" name="filter" type="radio" value="values" /> <label for="values">Values</label>
        <br /> <input id="fil2" name="filter" type="radio" value="desc" /> <label for="desc">Descriptions</label> <br /> <br /> 
        
    </form>

    <form action="/ui/saveSettings" method="post"><input class="button_blue" type="submit" value="Save Settings" /></form>

    <div><hr /></div>

    <p><strong>Disconnect from current caretaker:</strong></p>
    <form action="/ui/disassociate" method="post"><input class="button_red" type="submit" value="Disassociate Connection"/></form><hr />

</body>

</html>