<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Alex Test Driver</title>
</head>

<body>
    <div style="text-align:center">

        <div id="demotext" class='demotext'>Settings</div>
        <div><hr /></div>
        <p><strong>Data Sharing &amp; Privacy</strong></p>

        <div class="horizontal_box" name="dataSharingOptions">

            <div class="four_split"></div>

            <div class="four_split">
                <form>
                        <p><strong>Shared Records Time-to-Live:</strong></p>
                    <input id="ttl1" name="ttl" type="radio" value="indefinite" /> <label for="indefinite">Indefinite</label><br /> 
                    <input id="ttl2" name="ttl" type="radio" value="month" /> <label for="month">1 month</label><br /> 
                    <input id="ttl3" name="ttl" type="radio" value="week" /> <label for="week">1 week</label> <br />
                </form>
            </div>

            <div class="four_split">
                <form>
                        <p><strong>Record Filtering:</strong></p>
                    <input id="fil1" name="filter" type="radio" value="values" /> <label for="values">Values</label><br /> 
                    <input id="fil2" name="filter" type="radio" value="desc" /> <label for="desc">Descriptions</label> <br /> <br />
                </form>
            </div>

            <div class="four_split"></div>

        </div>

        <form id="saveForm"><input class="button_blue" type="submit" value="Save Settings" /></form><hr />

        <p><strong>Disconnect from current caretaker:</strong></p>
        <form action="./ui/disassociate" method="post"><input class="button_red" type="submit" value="Disassociate Connection"/></form><hr />

        <p><strong>Back to main:</strong></p>
        <form id="mainFromSettings"><input class="button_blue" type="submit" value="Back"/></form><hr />

    </div>
</body>

</html>