<!DOCTYPE html>
<html lang="en">

<script src="https://kit.fontawesome.com/f314d0292c.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="index.js"></script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>SRHM Patient</title>
</head>

<body class='bodyclassic'>

    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <div class="loader-wrapper-left">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <div class="horizontal_box" name="status_group">
        <div class="three_split">
            <div class = "horizontal_box">
                <div class="four_split">
                    <br /> 

                    <div class="tooltip">
                        <button id='pairButtonFAKE' class="buttonBackground buttonDisabled">
                            <span>
                                <i id='pairStatusIcon' class="fas fa-link" style='font-size:65px;color:white'></i>
                            </span>
                            <span id='pairStatusText' class="tooltiptext"></span>
                        </button>
                    </div>

                </div>
                <div class="four_split"></div>
                <div class="four_split"></div>
                <div class="four_split"></div>
            </div>
        </div>

        <div class="three_split">
            <div id="title"><h1>Patient Driver</h1></div>
        </div>

        <div class="three_split">
            <div class = "horizontal_box">
                <div class="four_split"></div>
                <div class="four_split"></div>
                <div class="four_split"></div>
                <div class="four_split">
                    <br />

                    <div class="tooltip">
                        <form action="./msg" method="get">
                            <button id='messagesButton' class="buttonBackground">
                                <span>
                                    <i id='messagesIcon' class="fas fa-comment-alt" style='font-size:65px;color:white'></i>
                                </span>
                                <span id='messagesBadge' class="badge" style="color: black; display: none"> 0 </span>
                                <span id ='messageBadgeText' class="tooltiptext">No new messages</span>
                            </button>
                        </form>
                    </div>
                    
                            
                </div>
            </div>
        </div>

    </div>

    <br /> <br />

    <div class="horizontal_box" name="measurement_group">

        <div class="four_split"></div>

        <div class="four_split">
            <br />
            <form id='hrButton' action="./hr" method="get">
                <button class="icon_button_red" style="padding-top: 10%; padding-bottom: 5%;">
                    <h2 style="font-size: 55px;">Heart Rate</h2>
                    <i class="fas fa-heartbeat" style='font-size:175px'></i> 
                    <br/> <br/> 
                    <div id="latestHR">Recent: <strong> N/A </strong></div>
                </button>
            </form>
        </div>

        <div class="four_split">
            <br />
            <form id='bpButton' action="./bp" method="get">
                <button class="icon_button_red" style="padding-top: 10%; padding-bottom: 5%;">
                    <h2 style="font-size: 45px;">Blood Pressure</h2>
                    <i class="fas fa-tint" style='font-size:175px'></i>
                    <br/> <br/> 
                    <div id="latestBP">Recent: <strong> N/A </strong></div>
                </button>
            </form>
        </div>

        <div class="four_split"></div>

    </div>

    <br /><br/>

    <div class="horizontal_box" name="othergroup">

        <div class="four_split"></div>

        <div class="four_split">
            <button id="deleteUserPINButton" class="button_red">DELETE USER PIN</button>
        </div>
        
        <div class="four_split">
            <form id='settingsButton' action="./settings" method="get">
                <button class="icon_button_blue" value="Settings">
                    <i class="fas fa-tools" style='font-size:28px'></i> 
                    Settings
                </button>
            </form>
        </div>

        <div class="four_split"></div>

    </div>

    <!-- Login Popup -->
    <div class="horizontal_box" name="popup">

        <div class="three_split"></div>
        
        <div class="three_split">
            <div id="loginPopup" class='modalPopup'>
                <div class="form-popup" id="popupForm">
                  <form id="pairForm" class="form-container" style="text-align: right;">
                    <h2 style="color: black;">Pair with Caretaker</h2>
                    <label for="userPIN">
                    <strong>Your PIN </strong>
                    </label>
                    <input type="text" id="userPINIn" name="userPIN" style="color: dimgray; font-size: large;">
                    <br /> <br />
                    <label for="targetPIN">
                    <strong>Caretaker PIN:</strong>
                    </label>
                    <input type="text" id="targetPINIn" onkeyup="pinInsertFormatting(this)" onfocus="focusBlackFont(this)"
                        style="color: dimgray;" placeholder="XXXX-XXXX-XXXX-XXXX" name="targetPIN" required>
                    <br /> <br />
                    <button id="linkButton" class="icon_button_green" type="submit">
                        <i class="fas fa-link" style='font-size:28px'></i>
                        Link
                    </button>
                    <button type="button" class="button_red" onclick="closeForm()">Cancel</button>
                  </form>
                </div>
            </div>
        </div>

        <div class="three_split"></div>

    </div>
    
</body>

</html>