<!DOCTYPE html>
<html lang="en">

<script src="https://kit.fontawesome.com/f314d0292c.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="ajax.js"></script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>RHM Patient Driver</title>
</head>

<body class='bodyclassic'>
    
    <div class="horizontal_box" name="status_group">

        <div class="three_split">
            <div class = "horizontal_box">
                <div class="four_split"><i id='serverStatusIcon' class='fas fa-network-wired' style='font-size:42px;color:white'></i></div>
                <div class="four"><i id='pairStatusIcon' class="fas fa-link" style='font-size:42px;color:white'></i></div>
                <div class="four_split"></div>
                <div class="four_split"></div>
            </div>
        </div>

        <div class="three_split">
            &nbsp;
            <div id="title" class='demotext'>Patient Driver</div>
        </div>

        <div class="three_split">
            <div class = "horizontal_box">
                <div class="four_split"></div>
                <div class="four_split"></div>
                <div class="four_split"></div>
                <div class="four_split">
                    &nbsp;
                    <a href="#" class="notification">
                        <span>Inbox</span>
                        <span class="badge">3</span>
                    </a> 
                </div>
            </div>
        </div>

    </div>

    &nbsp; &nbsp; &nbsp;

    <div class="horizontal_box" name="measurement_group">

        <div class="three_split">
            <div id="hrDisplay">Last measured HR: <strong> <%= hrreading %> </strong></div>
            <form id ="hrform">
                <input id="hrreadingIn" type="text"/>
                <input class="button_blue" type="submit" value="Update" />
            </form>
        </div>

        <div class="three_split">
            <div id="bphDisplay">Last measured BPH: <strong> <%= bphreading %> </strong></div>
            <form id ="bphform">
                <input id="bphreadingIn" type="text"/>
                <input class="button_blue" type="submit" value="Update" />
            </form>
        </div>

        <div class="three_split">
            <div id="bplDisplay">Last measured BPL: <strong> <%= bplreading %> </strong></div>
            <form id="bplform">
                <input id="bplreadingIn" type="text"/> 
                <input class="button_blue" type="submit" value="Update" />
            </form>
        </div>

    </div>

    <hr />

    <div class="horizontal_box" name="othergroup">

        <div class="four_split">
            <button id="testConnectionButton" class="button_blue">Test Connection</button>
        </div>

        <div class="four_split">
            <form action="./establish" method="get"> 
                <button class="icon_button_green" value="Establish">
                    <i class="fas fa-link" style='font-size:28px'></i>
                    Link
                </button>
            </form>
        </div>
        
        <div class="four_split">
            <form action="./settings" method="get">
                <button class="icon_button_blue" value="Settings">
                    <i class="fas fa-tools" style='font-size:28px'></i> 
                    Settings
                </button>
            </form>
        </div>

        <div class="four_split"></div> <!-- padding -->

    </div>

    <hr />

</body>

</html>