<!DOCTYPE html>
<html lang="en">

<script src="https://kit.fontawesome.com/f314d0292c.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="ajax.js"></script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>SRHM Patient</title>
</head>

<body class='bodyclassic'>

    <div id="demotext" class='demotext'>Settings</div>
    <div><hr /></div>
    <p><strong>Data Sharing &amp; Privacy</strong></p>

    <div class="horizontal_box" name="dataSharingOptions">

        <div class="four_split"></div>

        <div class="four_split">
            <p><strong>Shared Records Time-to-Live:</strong></p>
                <label><input type="radio" name="ttl" value="indefinite">Indefinite</label><br /> 
                <label><input type="radio" name="ttl" value="month">   1 month</label><br /> 
                <label><input type="radio" name="ttl" value="week">    1 week</label><br /> 
        </div>

        <div class="four_split">
            <p><strong>Record Filtering:</strong></p>
                <label><input type="radio" name="filter" value="values">     Values</label><br /> 
                <label><input type="radio" name="filter" value="desc">      Desc</label><br /> 
                <br />

        </div>

        <div class="four_split">
            <button id="saveButton" class="icon_button_green" value="Disassociate Connection">
                <i class="fas fa-save" style='font-size:28px'></i> 
                Save
            </button>
        </div>

    </div>
    
    <hr />

    <p><strong>Disconnect from current caretaker:</strong></p>
    <form action="./disassociate" method="post">
        <button class="icon_button_red" value="Disassociate Connection">
            <i class="fas fa-unlink" style='font-size:28px'></i> 
            Unpair
        </button>
    </form>
    
    <hr />

    <p><strong>Back to main:</strong></p>
    <form action="./main" method="get"> 
        <button class="icon_button_blue" value="Back">
            <i class="fas fa-home" style='font-size:28px'></i> 
            Home
        </button>
    </form>

</body>

</html>