<!DOCTYPE html>
<html lang="en">

<script src="https://kit.fontawesome.com/f314d0292c.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="settings.js"></script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>SRHM Patient</title>
</head>

<body class='bodyclassic'>

    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <div class="loader-wrapper-left">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <div class='horizontal_box' name='titlebox'>

        <div class="three_split">
            <br /> <br />
            <form action="./main" method="get"> 
                <button id='homeButton' class="icon_button_blue">
                    <i class="fas fa-home" style='font-size:28px'></i> 
                    Home
                </button>
            </form>
        </div>

        <div class = 'three_split'>
            <div><h1>Settings</h1></div>
        </div> 

        <div class='three_split'></div>
    </div>

    <br/><br/> 

    <h2 style="color: white; font-size: 60pt;"><strong>Data Sharing &amp; Privacy</strong></h2>

    <div class="horizontal_box" name="dataSharingOptions">

        <div class="five_split"></div>

        <div class="five_split">
            <h2 style="text-align: left;">Shared Records Time-to-Live</h2>
                <label class="container">
                    <input type="radio" name="ttl" value="indefinite">
                    <span class="checkmark"></span>
                    Indefinite
                </label><br />
                <label class="container">
                    <input type="radio" name="ttl" value="month">
                    <span class="checkmark"></span>
                       1 month
                </label><br /> 
                <label class="container">
                    <input type="radio" name="ttl" value="week">
                    <span class="checkmark"></span>
                        1 week
                </label><br /> 
        </div>

        <div class="five_split"></div>

        <div class="five_split">
            <h2 style="text-align: left;">Record Filtering</h2>
                <label class="container">
                    <input type="radio" name="filter" value="values">
                    <span class="checkmark"></span>
                    Values
                </label><br /> 
                <label class="container">
                    <input type="radio" name="filter" value="desc">
                    <span class="checkmark"></span>
                    Desc
                </label><br /> 
                <br />
        </div>

        <div class="five_split"></div>

    </div>
    
    <br />

    <div id="dialog-confirm" title="Unlink?">
        <p>
            <!-- <span class="ui-icon ui-icon-alert" style="font-size:28px; float:left; margin:12px 12px 20px 0;"></span> -->
            <i class="fas fa-exclamation-triangle" style='font-size:28px; float:left; margin:12px 12px 20px 0;'></i>
            <br />
            Unlinking permanently disconnects you from your caretaker. There might be data loss. Are you sure?
        </p>
    </div>

    <div class="horizontal_box" name="other">

        <div class="three_split"></div>

        <div class="three_split">
            <button id="saveButton" class="icon_button_green">
                <i class="fas fa-save" style='font-size:28px'></i>
                Save
            </button>
        </div>

        <div class="three_split">
            <button id='unlinkButton' class="icon_button_red">
                <i class="fas fa-unlink" style='font-size:28px'></i> 
                Unpair
            </button>
        </div>

    </div>

</body>

</html>