.demotext {
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    font-size:48pt;
}
/***************************************/
.bodyclassic {
    color:black;
    text-align:center;
    background-color: whitesmoke;
}
/***************************************/
.button_blue{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
.button_blue:hover{
    background-color:#4095c6;
}
@media all and (max-width:30em){
    .button_blue{
        display:block;
        margin:0.2em auto;
    }
}
/***************************************/
.button_red{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#d36f2d;
    text-align:center;
    transition: all 0.2s;
}
.button_red:hover{
    background-color:#ca541d;
}
@media all and (max-width:30em){
    .button_red{
        display:block;
        margin:0.2em auto;
    }
}
/***************************************/
.button_green{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#0c9e0c;
    text-align:center;
    transition: all 0.2s;
}
.button_green:hover{
    background-color:#3e970a;
}
@media all and (max-width:30em){
    .button_green{
        display:block;
        margin:0.2em auto;
    }
}
/***************************************/
.button_red{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:orangered;
    text-align:center;
    transition: all 0.2s;
}
.button_red:hover{
    background-color:red;
}
@media all and (max-width:30em){
    .button_red{
        display:block;
        margin:0.2em auto;
    }
}
/***************************************/
.horizontal_box {
    height: 100%;
    width: 100%;
    display: flex;
}
.four_split {width: 25%;}
.three_split{width: 33%;}
.two_split{width: 50%;}

/***************************************/
/*       ICON BUTTONS
/***************************************/
.icon_button_blue {
    font-size: 32px;
    cursor: pointer;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
.icon_button_blue:hover {
    background-color: #4095c6;
}
@media all and (max-width:30em){
    .icon_button_blue{
        display:block;
        margin:0.2em auto;
    }
}
/***************************************/
.icon_button_green{
    font-size: 32px;
    cursor: pointer;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#0c9e0c;
    text-align:center;
    transition: all 0.2s;
}
.icon_button_green:hover{
    background-color:#3e970a;
}
@media all and (max-width:30em){
    .icon_button_green{
        display:block;
        margin:0.2em auto;
    }
}
/***************************************/
/*   MESSAGES WITH  NOTIFICATION
/***************************************/
.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .notification:hover {
    background: red;
  }
  
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }